# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# environments
.env
.venv
env/
venv/
ENV/

# docker
.dockerignore

# speaker_info
coeiroink-v2/speaker_info/
